.menu-icon {
  display: none;
}
.btn-close {
  display: none;
}

.mob-home {
  display: none;
}

.top-header {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
}

.top-header a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
}
header {
  background-color: #fff;
}

.navbar-brand {
  display: block;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  border: none;
}

.nav-menu a {
  text-decoration: none;
  color: #5c5c5c;
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

.nav-menu-cc {
  border: 5px solid #ec5242;
  padding: 8px;
}

.headline-section {
  padding: 100px;
  background-image: url("../image/main-background-img.png");
}

.headline-title {
  width: 40%;
}

.headline-description {
  width: 60%;
}

.main-program {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin: 0 auto;
  width: 80%;
}

.program {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.program-title {
  font-family: "COCOGOOSE", sans-serif;
  text-align: center;
}

.program-description {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.program:hover {
  border: solid 2px #f7f7f7;
  cursor: pointer;
}

.btn-join {
  display: none;
}

.desk-see-whole {
  display: block;
  margin: 0 auto;
  padding: 24px;
  color: #f7f7f7;
  text-decoration: underline;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 70%;
  margin: 24px auto;
}

.navbar {
  width: 70%;
  margin: 0 auto;
  column-gap: 32px;
  justify-content: center;
}

.abt-headline-section {
  background-image: url("../image/abt-back-me.png");
}

.abt-headline-greeting {
  display: none;
}

.abt-headline-title {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.abt-headline-description {
  width: 50%;
  margin: 0 auto;
  font-size: 1.25em;
}
.logo-description {
  width: 40%;
  margin: 0 auto;
}

.abt-logo {
  width: 30%;
  margin: 0 auto;
}
.past-event-description {
  width: 50%;
  margin: 0 auto;
}
.abt-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 80%;
  margin: 0 auto;
}

.abt-product-container img {
  width: 100%;
}

.partner {
  display: none;
}

.footer-bottom {
  background-color: #414246;
  color: #fff;
}
.footer-bottom p {
  width: 40%;
}
