* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  width: fit-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-header {
  display: none;
}

.btn-close {
  display: block;
  padding: 24px;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  font-size: 32px;
  align-self: flex-end;
}

.menu-icon {
  margin: 20px 20px 120px 20px;
}

.nav-bar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 85%;
}

.nav-menu li {
  border-bottom: 2px solid #414246;
  padding: 16px;
  font-family: "COCOGOOSE", sans-serif;
}

.nav-menu a {
  font-size: 2em;
  color: #272a31;
}

.navbar-brand {
  display: none;
}

main {
  width: 100%;
}

.headline-section {
  background-image: url("../image/mob-bac.png");
  background-size: cover;
  padding: 0 24px;
  background-position: left top 5px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.headline-greeting {
  color: #ec5242;
  font-size: 32px;
  font-weight: 400;
}

.headline-title {
  color: #ec5242;
  font-size: 40px;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.headline-description {
  padding: 24px;
  border: 5px solid #fff;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f7f7f7;
  letter-spacing: 0.03em;
  text-align: center;
  color: #5c5c5c;
}

.headline-date {
  font-size: 32px;
  font-weight: 700;
  font-family: "COCOGOOSE", sans-serif;
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.headline-location {
  font-size: 24px;
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.main-program-section {
  background-color: #272a32;
  background-image: url("../image/program-back.png");

  /* background-size: ; */
  padding: 24px;
  color: #fff;
  line-height: 1.5;
  display: grid;
}

.title-container {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.divider {
  background-color: #ec5242;
  height: 3px;
  width: 50px;
}

.main-program {
  display: grid;
  row-gap: 24px;
}

.program {
  display: flex;
  column-gap: 24px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.program img {
  height: 50px;
  width: 50px;
}

.program-title {
  color: rgb(238, 68, 68);
}

.btn-join {
  margin: 24px auto;
  padding: 20px;
  width: 60vw;
  background-color: #ec5242;
  color: #fff;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 400;
}

.desk-see-whole {
  display: none;
}

.product-container {
  display: flex;
  flex-direction: column;

  /* row-gap: 24px; */
  padding: 24px;
}

.each-product {
  display: flex;
  column-gap: 24px;
}

.each-product img {
  height: 178px;
  width: 177px;
}

.product-title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.product-cat {
  color: rgb(238, 68, 68);
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
}

.product-description {
  font-size: 1em;
  line-height: 1.5;
  color: #5c5c5c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.partner {
  background-color: #414246;
  color: #a0a0a2;
  padding: 24px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.navbar img {
  width: 60px;
  background-color: #272a31;
  height: 60px;
}

.footer-bottom {
  display: flex;
  column-gap: 50px;
  margin: 0 auto;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.abt-contact {
  font-size: 1em;
  color: #272a31;
  padding: 8px;
}

.abt-contact a {
  color: #272a31;
  font-weight: 700;
}

.abt-logo-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  margin: 0 auto;
}

.logo-description {
  padding: 8px;
  width: 60%;
  margin: 0 auto;
}

.abt-logo {
  border: 3px solid #f7f7f7;
  padding: 32px;
  margin: 0 auto;
  width: 80%;
}

.abt-divider {
  width: 100%;
  background-color: #eee3e3;
  height: 2px;
}

.past-event {
  display: grid;
  row-gap: 24px;
  margin: 0 auto;
}

.past-event-description {
  align-self: center;
  justify-self: center;
  width: 60%;
}

.product-container {
  display: grid;
  row-gap: 24px;
  width: 100%;
}
